*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body{
  align-items: center;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

a{
  text-decoration: none;
}

header{
  align-items: center;
  background-image: url(/images/colosseum_rome.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  justify-content: center;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  overflow: hidden;
  position: relative;
  width: 100%;
}

header .overlay{
  background:rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(10px);
  height: 100%;
  left: 0;
  position: absolute;
  width: 50%;
  z-index: 0;
}

header .text{
  color: white;
  position: relative;
  text-transform: uppercase;
}


.text .italy{
  position: absolute;
  font-size: 30px;
  top: 30px; 
  left: 0%; 
  padding-left: 5px;
  letter-spacing: 3px;
}

.text .rome{
  font-size: 208px;
}

.rome::before {
  background-image: url(/images/colosseum_rome.png);
  background-position: center;
  background-size: cover;
  background-clip: text;
  content: "ROME";
  color: transparent;
  position: absolute;
  left: 0;
  width: 50%;
  -webkit-background-clip: text;
  
}

@keyframes buttonAnimation{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

header a{
  animation: buttonAnimation 10s ease infinite;
  background: linear-gradient( 270deg,
  #bbaa75, 
  #a67c52,
  #947B3C,  
  #d3ac7a  
   
  );
  background-size: 600% 600%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);;
  color: black ;
  cursor: pointer;
  font-size: 12px;
  margin-top: -60px;
  padding: 12px 35px;
  z-index: 2;
  transition: all 1s ease-in-out;
}

header a:hover{
  animation:  buttonAnimation 10s ease infinite;
  background: linear-gradient(
    270deg,
    #4b3621,   /* marrón piedra oscura */
    #5a4632,   /* bronce viejo */
    #3e2c1c,   /* sombra coliseo */
    #6e4f2c    /* cobre/terracota oscuro */
  );
  background-size: 600% 600%;  
  color: white;
}

/*MAIN*/
main{
  background-color: #000000;
  font-family: "Abel", sans-serif;
  color: #CCCCCC;
  margin: 0 120px;
}

main h2{
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #FAB144;
  text-transform: uppercase;
  opacity: 0.6;
}

main  h3{
  color: white;
  font-size: 30px;
  line-height: 20px;
  margin: 15px 0 30px 0;
  text-transform: uppercase;
  text-align: justify;
}

main p{
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;

}

section{
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px 0;
}

.grid{
  display: grid;
  gap: 50px;
}

.grid-2-columns{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.masked{
  height: auto;
  -webkit-mask-image: url('/images/brush.png'); /* Usa el PNG como máscara */
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('/images/brush.png');
  mask-size: cover;
  mask-repeat: no-repeat;
}

.masked img {
  width: 100%;
  height: 450px;
  display: block;
}
/*ROME PLACES*/
.rome-places h3{
  text-align: center;
  margin: 15px 0 45px;
}

.border-right-top-bottom{
  border-top: 2px dashed #CCCCCC;
  border-right: 2px dashed #CCCCCC;
  border-bottom: 2px dashed #CCCCCC;
}

.border-left{
  border-left: 2px dashed #CCCCCC;
}

.italy-box {
  margin: 0 180px;
  gap: 0;
  place-items: center;
  padding:  25px;
}

.italy-box .img-responsiv{
  max-width: 100%;
}

.italy-box .italy-box-text{
  margin: 20px 20px 20px 45px;
}

.italy-box-text h4{
  font-size: 23px;
  margin: 15px 0;
  color: #FAB144;
  text-transform: uppercase;
  opacity: 0.6;
}

.italy-box-text a{
  animation:  buttonAnimation 10s ease infinite;
  background: linear-gradient( 270deg,
   #4F4F4F, #808080, #9d9b9b, #A3A3A3, #DCDCDC, #FFFFFF
   
  );
  background-size: 600% 600%;
  background-color: white;
  border: 2px solid transparent;
  color: black;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  display: inline-block;
  transition: all 1s ease-in-out;
}

.italy-box-text a:hover{
  animation: none;
  border: 2px solid #808080;
  color: white;
  background: transparent;
}

.text-align-left  {
  padding: 0 70px 0 0;
}

.text-align-right {
  padding: 0 0 0 70px;
}

.italy-box img{
  width: 350px;
  height: 220px; 
}

/*ROME GALERY*/
.galery-images, .galery-videos{
  text-align: center;
}

.galery-images h2, .galery-videos h2{
  margin: 15px;
}

.rome-images{
  display: block;
}

.rome-images img{
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.rome-images img:hover{
  transform: scale(1.05);
  filter: contrast(1.2);
}

.img-horizontal{
  width: 600px;
  height: 350px;
}

.img-vertical{
  width: 300px;
  height: 350px;
}






/*FOOTER*/

footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(/images/basilica.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 0 30px;
}

.grid-3-columns{
  grid-template-columns: 1fr 2fr 2fr;
 
}

footer h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 8px;
}

footer p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.7;
}

footer li{
  list-style: none;
}

footer a{
  color: white;
  opacity: 0.7;
}

footer .footer-social-content{
  margin-top: 50px;
  text-align: center;
}

footer .footer-social-content .social-icons a i{
  color: white;
  margin: 20px 15px;
}
/* Media Queries para Responsividad */

@media (max-width: 900px){

  header{
    height: 400px;
  }

  header .text .italy{
    font-size: 16px;
  }

  header .text .rome{
    font-size: 135px;
  }

  header a{
    font-size: 12px;
    margin-top: -30px;
    padding: 10px 20px;
  }

  /*Main*/

  main{
    margin: 0 25px;
  }

  .grid-2-columns{
    gap: 10px;
  }

  .masked img {
    height: 300px;
  }

  main h2{
    font-size: 13px;
  }

  main h3{
    font-size: 20px;
  }

  main p{
    font-size: 13px;
  }

  /*Rome places*/

  
  .italy-box{
    margin: 0 50px;
  }

  .italy-box img{
    width: 250px;
    height: 190px;
  }

  .italy-box-text a{
    font-size: 16px;
    
    padding: 10px 20px;
  }

  .text-align-left{
    padding: 0 30px 0 0;
  }

  .text-align-right{
    padding: 0 0 0 30px;
  }

  /*ROME GALERY*/
  .img-horizontal{
    width: 400px;
    height: 250px;
  }

  .img-vertical{
    width: 200px;
    height: 250px;
  }
  /*Footer*/

  footer h3{
    font-size: 16px;
  }

  footer p, a{
    font-size: 12px;
  }

  footer .grid-3-columns{
    gap: 35px;
  }
}

@media (max-width: 600px){ 
  header{
    height: 250px;
  }

  header .text .rome{
    font-size: 85px;
  }

  header .text .italy{
    font-size: 12px;
    top: 5px
  }

  header a{
    font-size: 10px;
    margin-top: -15px;
    padding: 12px 10px;
  }

  /*Main*/

  main{
    margin: 0 20px;
  }

  .masked{
    width: 350px;
  }

  .masked img {
    height: 280px;
  }

  .grid-2-columns{
    place-items: center;
  }

  .rome-info{
    margin-top: 45px;
    gap: 40px;
  }

  main h2{
    font-size: 15px;
  }

  main h3{
    font-size: 25px;
  }

  main p{
    font-size: 17px;
  }

  /*Rome places*/

  .rome-places h3{
    margin-bottom: 40px;
  }

  .border-right-top-bottom, .border-left{
   border: none;
  }
  
  .italy-box:not(:last-child) {
    border-bottom: 2px dashed #CCCCCC; 
  }

  .italy-box{
    margin: 20px 20px;
  
  }

  .italy-box img{
    width: 100%;
    height: 200px;
    order: 0;
  }

  .italy-box .italy-box-text{
    order: 1;
    margin: 0 0;
  }

  .italy-box-text h4{
    margin: 25px 0 10px;
  }

  .text-align-left, .text-align-right{
    padding: 0;

  }

  /*ROME GALERY*/
  .img-horizontal, .img-vertical{
    width: 300px;
    height: 300px;
  }

  .rome-images{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
  }


  /*Footer*/

  footer{
   padding: 0 20px;
  }

  .grid{
    grid-template-columns: 1fr;
  }


  footer h3{
    font-size: 16px;
  }

  footer p, a{
    font-size: 14px;
  }

  
}