*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body{
  align-items: center;
  background-color: #ccc;
  height: 100vh;
  width: 100%;
}

a{
  text-decoration: none;
}

header{
  align-items: center;
  background-image: url(/images/colosseum.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  overflow: hidden;
  position: relative;
  width: 100%;
}

header .overlay{
  background:rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(10px);
  height: 100%;
  left: 0;
  position: absolute;
  width: 50%;
  z-index: 0;
}

header .text{
  color: white;
  position: relative;
  text-transform: uppercase;
}


.text .italy{
  position: absolute;
  font-size: 30px;
  top: 30px; /* Para que esté un poco más arriba */
  left: 0%; /* Centrado en el contenedor */
  padding-left: 5px;
  letter-spacing: 3px;
}

.text .rome{
  font-size: 208px;
}

.rome::before {
  background-image: url(/images/colosseum.png);
  background-position: center;
  background-size: cover;
  background-clip: text;
  content: "ROME";
  color: transparent;
  position: absolute;
  left: 0;
  width: 50%;
  -webkit-background-clip: text;
  
}

@keyframes buttonAnimation{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

header a{
  animation: buttonAnimation 10s ease infinite;
  background: linear-gradient( 270deg,
  #bbaa75, 
  #a67c52,
  #947B3C,  
  #d3ac7a  
   
  );
  background-size: 600% 600%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);;
  color: black ;
  cursor: pointer;
  font-size: 12px;
  margin-top: -60px;
  padding: 12px 35px;
  z-index: 2;
  transition: all 1s ease-in-out;
}

a:hover{
  animation:  buttonAnimation 10s ease infinite;
  background: linear-gradient(
    270deg,
    #4b3621,   /* marrón piedra oscura */
    #5a4632,   /* bronce viejo */
    #3e2c1c,   /* sombra coliseo */
    #6e4f2c    /* cobre/terracota oscuro */
  );
  background-size: 600% 600%;  
  color: white;
}

footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(/images/basilica.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 50px 0;
}

.footer-about{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
 
}

section{
  margin: 0 auto;
  max-width: 1400px;
}

footer h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}

footer p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  opacity: 0.7;
}

footer li{
  list-style: none;
}

footer a{
  color: white;
  opacity: 0.7;
}

footer .footer-social-content{
  margin-top: 50px;
  text-align: center;
}

footer .footer-social-content .social-icons a i{
  color: white;
  margin: 20px 15px;
}
/* Media Queries para Responsividad */

@media (max-width: 900px){

  header{
    height: 400px;
  }

  header .text .italy{
    font-size: 15px;
  }

  header .text .rome{
    font-size: 135px;
  }

  header a{
    font-size: 12px;
    margin-top: -30px;
    padding: 10px 20px;
  }
}

@media (max-width: 600px){ 
  header{
    height: 250px;
  }

  header .text .rome{
    font-size: 75px;
  }

  header .text .italy{
    font-size: 10px;
    top: 5px
  }

  header a{
    font-size: 8px;
    margin-top: -20px;
    padding: 8px 10px;
  }

  
}